.geometry-head {
	background-color: #9d0094;
	background-image: url("../images/header/Head1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.gradient-head {
	background-color: #9d0094;
	background-image: url("../images/header/Gradient1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.vista-head {
	background-color: #9d0094;
	background-image: url("../images/header/Vista1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.silver-head {
	background-color: #9d0094;
	background-image: url("../images/header/Silver1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}